<section
    class="flex flex-col-reverse sm:flex-row pt-24 pb-20 items-center gap-16"
>
    <article class="flex flex-col gap-2">
        <h1
            class="font-black text-light-texto-primary dark:text-dark-texto-primary text-[2.5rem]"
        >
            Sobre mi
        </h1>
        <div
            class="flex flex-col gap-4 text-[1.1rem] sm:text-base text-light-texto-secondary dark:text-dark-texto-secondary"
        >
            <p>
                Soy un estudiante de secundaria, responsable, entusiasta y comprometido con el aprendizaje continuo.</br></br>

                En los últimos años me he especializado en el desarrollo web, con la finalidad de ampliar mis conocimientos y desenvolverme de mejor manera en equipos de desarrollo ágiles.</br></br>
                
                Aspiro a conseguir empleo en este campo laboral en constante crecimiento y fortalecer mi vida profesional, asi como poner en práctica todo lo que aprendi y lo que pueda aprender a partir de las oportunidades laborales que se me presenten.</p>
        </div>
    </article>
    <img
        class="rounded-full h-[170px] w-[170px] sm:w-[200px] sm:h-[200px]"
        src="../../public/yo.webp"
        alt="Matias Orellana"
        loading="lazy"
    />
</section>
