<section
    class="h-[calc(100dvh-4rem)] min-h-[580px] flex flex-col justify-center items-center text-center gap-16"
    id="home"
>
    <div class="flex flex-col gap-12 text-center items-center justify-center">
        <p
            class="text-[3.3rem] sm:text-[3.3rem] md:text-[4.2rem] font-black leading-[3rem] sm:leading-[4rem] text-[#111] dark:text-[#f3f3f3]"
            id="slogan0"
        >
            Matias Emanuel<br>
            Orellana Ramirez
        </p>
    </div>
    <ul
        class="flex flex-col sm:flex-row justify-center items-center gap-3 sm:gap-12 text-light-gray-primary dark:text-dark-gray-primary w-full sm:w-auto"
    >
        <li class="flex flex-col sm:flex-row items-center justify-center gap-2">
            <span class="flex items-center font-bold bg-[#0001] dark:bg-[#0001] py-1 px-3 rounded-xl">Estudiante</span>
            <span class="flex items-center font-bold bg-[#0001] dark:bg-[#0001] py-1 px-3 rounded-xl">18 Años</span>
            <span class="flex items-center font-bold bg-[#0001] dark:bg-[#0001] py-1 px-3 rounded-xl">Buenos Aires, Argentina</span>
        </li>
    </ul>
    <div class="flex items-center gap-2 sm:gap-6">
        <a download href="/CV - Orellana Matias.pdf" target="_blank" class="justify-center py-2 px-5 flex items-center gap-1 sm:gap-2 font-semibold text-[1.15rem] rounded-[28rem] bg-light-texto-primary dark:bg-dark-texto-primary text-light-fondo-primary dark:text-dark-fondo-primary hover:scale-[1.05] transition-transform">
            <span>Descargar CV</span>
        </a>
        <a href="#contact" class="justify-center py-2 px-5 flex items-center gap-1 sm:gap-2 font-semibold text-[1.15rem] rounded-[28rem] bg-light-texto-primary dark:bg-dark-texto-primary text-light-fondo-primary dark:text-dark-fondo-primary hover:scale-[1.05] transition-transform">
            <span>Contacto</span>
        </a>
    </div>
</section>
